body{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
}

#container__left {
    width: 50%;
    height: 100%;
    float: left;

}
#container__right {
    float:right;
    width: 50%;
    height: 100%;
    
    
}