div .mesaj{
    width: 700px;
    height: 100px;
    justify-content: left;
    float: left;
    display: block;
    margin-top: 400px;
    margin-left: 10px;

    
}
span #mesaje{
    color:white;
}
div .mesaj h1{
    color: white;
   
}